<div class="container " style="text-align: center;margin-top: 40px;">
    <h1 class="sub-text"></h1>
      
        <div class="py-3">
         
            <div class="row">
              <!-- DEMO 2 Item-->
              <div class="blog-slider">
                <div class="blog-slider__wrp">
                  <div class="blog-slider__item">
                    <div class="blog-slider__img ">
                      <img src="../../assets/images/card4ser.jpg" alt="">
                    
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code">PC Maintenance sector</span>
                      <div class="blog-slider__title">Empower Your PC's Performance: Experience the Difference with Professional Maintenance</div>
                      <div class="blog-slider__text">Experience peace of mind with our PC Maintenance services, extending the lifespan of your system beyond the brand warranty. Our yearly packages offer comprehensive solutions to keep your PC in prime condition. From deep cleaning and software updates to Windows setup and troubleshooting, we ensure your system runs smoothly throughout the year. Our expert team also specializes in hardware repairs, resolving over 2000+ issues with precision. Additionally, we provide networking management and maintenance services at a standard price. With our dedicated support, your PC remains in top-notch condition, backed by our reliable warranty</div>
              
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
              </div>
              
              
      
    </div>
    </div>
    <br><br>
    <div class="arrow bounce">

    </div>
  
    <!-- card -->
    <div class="ag-format-container">
      <div class="ag-courses_box">
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Extending PC lifespan beyond brand warranty
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Yearly packages with comprehensive solutions
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Deep cleaning, software updates, and Windows setup
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Troubleshooting for over 2000+ issues
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Hardware repair services
            </div>
    
            
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Networking management and maintenance
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg">
            </div>
            <div class="ag-courses-item_title">
              Standard pricing for hardware-based works
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title" style="text-decoration: none;">
              Peace of mind with reliable warranty coverage
            </div>
    
          </a>
        </div>
    
      </div>
    </div>
    <!-- card end -->
  </div>