<nav class="navbar navbar-expand-lg" style="text-align: right;">
  <div class="container-fluid">
<button style="background-color: transparent;border: none; "(click)="logoclick()"><img src="../../assets/images/REBOOT.png" alt="" style="height: 56px; width: 223px;margin-left: 60px;"> <span style="font-size: 1.8em; color: white;"> | </span><span style="font-size: 1.6em; color: orange;">In</span>
  <span style="font-size: 1.6em; color: white;">d</span>
  <span style="font-size: 1.6em; color: green;">ia</span></button> 
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="background-color: white;border: none;">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse temp" id="navbarSupportedContent" style="background-color: transparent; text-align: center; margin-left: 20%; ">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  ms-lg-5 justify-content-center" style="justify-content: center; text-align: center;">
        <li class="nav-item" style="margin-left: 30px; font-size: 1.2em;
        ">
          <a class="nav-link ">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " style="color: white; font-size: 1.2em; margin-left: 30px;" href="" role="button" data-bs-toggle="dropdown" aria-expanded="true" >
            Services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
            <li><a class="dropdown-item" href="#">3</a></li>
          </ul>
        </li>
 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" style="color: white;font-size: 1.2em;  margin-left: 30px;" role="button" data-bs-toggle="dropdown" aria-expanded="true">
            Projects
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
            <li><a class="dropdown-item" href="#">3</a></li>
          </ul>
        </li>
        <li class="nav-item" style="margin-left: 30px; font-size: 1.2em;">
          <a class="nav-link">About Us</a>
        </li>
       
     
      </ul>
     <svg xmlns="http://www.w3.org/2000/svg" (click)="contactus()"  height="1.2em"  viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#efeff1}</style><path d="M384 48c8.8 0 16 7.2 16 16V448c0 8.8-7.2 16-16 16H96c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H384zM96 0C60.7 0 32 28.7 32 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H96zM240 256a64 64 0 1 0 0-128 64 64 0 1 0 0 128zm-32 32c-44.2 0-80 35.8-80 80c0 8.8 7.2 16 16 16H336c8.8 0 16-7.2 16-16c0-44.2-35.8-80-80-80H208zM512 80c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V80zM496 192c-8.8 0-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V208c0-8.8-7.2-16-16-16zm16 144c0-8.8-7.2-16-16-16s-16 7.2-16 16v64c0 8.8 7.2 16 16 16s16-7.2 16-16V336z"/></svg>
     
    </div>
  </div>
</nav>