
    <div class="container4">
      <div class="space-img">
        <h1>Our Services</h1>
        <p class="subtext">"Join the ranks of businesses unlocking infinite possibilities"</p>
        <img src="../../assets/images/space.jpg" alt="space">
        <div class="underline"></div>
        <div class="hover-text">
          
        </div>

        <button class="button">View Services</button>
      </div>
	  
    </div>
  

<section class="dark">
	
	<div class="container py-4">
		<h1 class="h1 text-center " id="pageHeaderTitle">Services</h1>
		<div class="postcard1 ">
            <p style="text-align: justify;margin-bottom: 25px;">At Reboot Solutions, we understand the unique challenges businesses face in the ever-evolving digital landscape. With our experienced team and trusted advisors, we offer tailored and scalable IT services designed to cater to your specific needs. From comprehensive website development to strategic IT consulting, our expertise covers the entire spectrum of your technological requirements. 
				We take pride in building strong connections with our clients, truly understanding their challenges and providing personalized solutions. With over 27+ annual subscribers trusting our services, we have established a reputation for excellence in the industry. Once you experience our exceptional service and technical expertise, you won't need to look elsewhere. Trust Reboot Solutions as your go-to partner for all your IT needs, and unlock your business's full potential with us.
			  </p>
		</div>
       
		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/images/card1Ser.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Web Development</a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Building bridges between your brand and your audience through innovative 
                    web development</div>
                    <ul class="postcard__tagbox">
                        <li class="tag__item">Web Design </li>                     
                        <li class="tag__item"> Web Hosting</li>                        
                        <li class="tag__item">Web maintenance </li>
                        <li class="tag__item">Web marketing </li>

                        <!-- <li class="tag__item"><span>Web Design</span> </li>                     
                        <li class="tag__item"><span>Web Hosting</span> </li>                        
                        <li class="tag__item"><span>Web maintenance </span></li>
                        <li class="tag__item"><span>Web marketing</span> </li> -->
                    </ul>
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/images/card2ser.jpg" alt="Image Title" />	
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">App Development</a></h1>
				<div class="postcard__subtitle small">
					
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">ANDROID solutions that create unforgettable experiences for your <br>users</div>
                <ul class="postcard__tagbox">
                    <li class="tag__item">Custom app Development
                    </li>                     
                    <li class="tag__item"> App Maintenance and support</li>                        
                    <li class="tag__item">App marketing and promotion
                    </li>
                    <li class="tag__item">UI/UX Design </li>
                </ul>
			</div>
		</article>
		<article class="postcard dark green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/images/card3ser.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="#">Graphic Designing </a></h1>
				<div class="postcard__subtitle small">
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt"> "Design is the silent ambassador of your brand." <br>- Paul Rand</div>
				<ul class="postcard__tagbox">
                    <li class="tag__item"> Logo Design

                    </li>                     
                    <li class="tag__item">  Branding
                    </li>                        
                    <li class="tag__item">Web Design
                    </li>
                    <li class="tag__item">Motion Graphics
                    </li>
                </ul>
			</div>
		</article>
        <article class="postcard dark yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/images/card5ser.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Software Development</a></h1>
				<div class="postcard__subtitle small">
				
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Crafting custom software solutions for your unique business needs</div>
				<ul class="postcard__tagbox">
                    <li class="tag__item"> Custom software development

                    </li>                     
                    <li class="tag__item">  Software maintenance and support

                    </li>                        
                    <li class="tag__item">Software testing

                    </li>
                    <li class="tag__item">Software training

                    </li>
                </ul>
			</div>
		</article>
		<article class="postcard dark yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="../../assets/images/card4ser.jpg" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">PC Maintenance</a></h1>
				<div class="postcard__subtitle small">
				
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Unlock the True Potential of Your System with Professional Maintenance Service</div>
				<ul class="postcard__tagbox">
                    <li class="tag__item"> Hardware maintenance
                    </li>                     
                    <li class="tag__item">Data backup & recovery
                    </li>                        
                    <li class="tag__item">System optimization
                    </li>
                    <li class="tag__item">Custom PC build 
                    </li>
                </ul>
			</div>
		</article>
	</div>
</section>
