<div class=".container  maindiv">
    <div class="row">
      <div class="col-lg-6 col-md-12 noback">
        <h1 class="headingtitle">Pune's Trusted Provider of Quality Mindset IT Services</h1>
         <div class="gooey">
            <h5 class="temp">Experience the best-in-class IT <br> services in Pune, where our <br> Reboot team's quality mindset <br> ensures top-notch solutions and <br> sustained excellence in service delivery</h5>

            <button class="my-3 btn-learn" (click)="buttonclick()" >About Us</button>

          </div>
      </div>
      <div class="col-lg-6 col-md-12 imgdiv">
       
       
      </div>
    </div>
</div>
