<div class=".container" style="background-image: url(../../assets/images/c1.jpg);background-repeat: no-repeat;background-size:cover;position: relative;">
    <div class="cloud">
        <img src="../../assets/images/cloud1.png" alt="" style="--i:1">
        <img src="../../assets/images/cloud2.png" alt="" style="--i:2">
        <img src="../../assets/images/cloud3.png" alt="" style="--i:3">
        <img src="../../assets/images/cloud4.png" alt="" style="--i:4">
        <img src="../../assets/images/cloud5.png" alt="" style="--i:5">
    </div>
<div class="container" style="margin: 0;">
    <div class="container-1">
        <h2 class="all-content">
            <div class="main-text">
            from now to
            </div>
             <span class="infinity">Infinity</span> 
             <p class="sub-text">"Unlock your business's true potential with REBOOTCAS. <br> Empowering innovation, resolving challenges, and driving your success forward." <br> <br>  <button class="btn-learn"  (click)="Servicesdetails()" style="border: solid 1.5px;">Our Services</button></p> 
       </h2>
       
    </div>

</div>
 
</div>


       
       
