<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image img-all" src="../../assets/images/why1.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">3+ years of experience</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Experienced Development Team</p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image img-all" src="../../assets/images/why2.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">2000+ technical problems resolved</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Proven Troubleshooting <span style="font-weight: bold;">Ability</span> </p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image img-all" src="../../assets/images/why3.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title">27+ annual subscribers</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Strong Client <span style="font-weight: bold;">Base</span> </p>
                    </div>
                </a> </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="content"> <a href="#">
                    <div class="content-overlay"></div> <img class="content-image img-all" src="../../assets/images/why4.jpg">
                    <div class="content-details fadeIn-bottom">
                        <h3 class="content-title pr-1">5 seasoned professionals</h3>
                        <p class="content-text"><i class="fa fa-map-marker"></i> Industry Advisors</p>
                    </div>
                </a> </div>
        </div>
         
    </div>
</div> -->
<body  style="background-color:#080d2e;">
    

    <div class="container py-5">
        <!-- For Demo Purpose -->
        <header class="text-center">
          <h1 class="display-4 font-weight-bold text-white heading">Why Choose Us</h1>
          <p class="font-italic mb-0 text-white"> Discover the Expertise and Reliability of Reboot Consultancy and Services </p>
          <p class="font-italic text-white"> Unlocking Seamless Solutions for Your Technology Needs
          </p>
        </header>
      
      
       
      
        <!-- DEMO 2-->
        <div class="py-3">
         
          <div class="row">
            <!-- DEMO 2 Item-->
            <div class="col-lg-3 col-md-6 mt-5 div1">
              <div class="hover hover-2 text-white rounded div2"><img src="../../assets/images/why1.jpg"
                class="div3" alt="">
                <div class="hover-overlay"></div>
                <div class="hover-2-content px-5 py-4">
                  <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> 3+ years of experience</h3>
                  <p class="hover-2-description text-uppercase mb-0">Experienced Development Team</p>
                </div>
              </div>
            </div>
      
            <!-- DEMO 2 Item-->
            <div class="col-lg-3 col-md-6 mt-5 div1">
              <div class="hover hover-2 text-white rounded div2"><img src="../../assets/images/why2.jpg"
                class="div3" alt="">
                <div class="hover-overlay"></div>
                <div class="hover-2-content px-5 py-4">
                  <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> 2000+ technical problems resolved</h3>
                  <p class="hover-2-description text-uppercase mb-0">Proven Troubleshooting <span style="font-weight: bold;">Ability</span></p>
                </div>
              </div>
            </div>
            <!-- DEMO 2 Item-->
            <div class="col-lg-3 col-md-6 mt-5 div1">
                <div class="hover hover-2 text-white rounded div2"><img
                    src="../../assets/images/why3.jpg" class="div3" alt="">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> 27+ annual subscribers</h3>
                        <p class="hover-2-description text-uppercase mb-0">Strong Client <span style="font-weight: bold;">Base</span></p>
                    </div>
                </div>
            </div>
                <!-- DEMO 2 Item-->
            <div class="col-lg-3 col-md-6 mt-5 div1">
                <div class="hover hover-2 text-white rounded div2"><img
                    src="../../assets/images/why4.jpg" class="div3" alt=""  >
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0"> 5 seasoned professionals</h3>
                        <p class="hover-2-description text-uppercase mb-0">Industry Advisors</p>
                    </div>
                </div>
            </div>
    
          </div>
        </div>
      </div>
    </body>