<body>
  <div class="top-main-h1">
    <h1 class="head-text">Powering Your Innovation</h1>
    <div class="container-fluid maindiv">
        
        <div class="container ">
            <img src="../../assets/images/1.jpg" alt="" class="imgdiv">
            <div class="text-overlay">
                <h1>Innovate. Grow. Succeed. Power your ideas, fuel your success.</h1>
            </div>
        </div>
        <div class="container ptag">
            <p>Unleash the power of innovation. Fuel your ideas with our comprehensive IT solutions and scalable infrastructure, propelling your growth towards success. Let us handle the technical worries, so you can focus on your vision. Together, we harness technology to drive your journey to new heights</p>
        </div>    
    </div>
  </div>
    <div class="container mt-5 mb-5">
    
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="card card-block">
           
          <img src="../../assets/images/2.jpg" alt="">
              <h5 class="card-title mt-3 mb-3" style="font-size: 1.2rem;"><b>Complete IT Solutions</b></h5>
              <p class="card-text">We provide personalized attention and comprehensive services, addressing partner suggestions, queries, and requirements effectively with customized solutions.</p> 
        </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="card card-block">
           
          <img src="../../assets/images/mm.jpg" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3"style="font-size: 1.2rem;"><b>Scalable Infrastructure for Growth</b></h5>
              <p class="card-text">Our adaptable technology infrastructure enables growth and scalability, catering to your evolving requirements and providing a solid foundation for future expansion</p> 
        </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="card card-block">
           
          <img src="../../assets//images/4th.jpg" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3"style="font-size: 1.2rem;"><b>Reliable IT Support</b></h5>
              <p class="card-text">Let us handle your IT worries, from hardware management to maintenance and technical support, ensuring smooth operations and peace of mind</p> 
        </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="card card-block">
           
          <img src="../../assets/images/5th.jpg" alt="Photo of sunset">
              <h5 class="card-title  mt-3 mb-3"style="font-size: 1.2rem;"><b>Harnessing Technology for Success</b></h5>
              <p class="card-text">By embracing emerging technologies, we leverage the latest advancements to give you a competitive edge, empowering innovation and driving your success</p> 
        </div>
          </div>    
        </div>
        
      </div>
</body>