<div class="top-main-h1">
  <h1 class="head-text">Boosting your career</h1>
<div class="container-fluid maindiv">
    <div class="container ">
        <img src="../../assets/images/main2.jpg" alt="" class="imgdiv">
        <div class="text-overlay">
            <h1>Grow. Learn. Bridge gaps. Elevate your career with impactful internships.</h1>
        </div>
    </div>
    <div class="container ptag">
        <p>Unleash your potential. Elevate your career with our impactful internships. Gain valuable experience, guided mentorship, and develop innovative solutions to bridge societal gaps. Embrace real-world challenges, understanding the importance of customer satisfaction. Grow, learn, and make a lasting impact on your journey towards success
        </p>  
</div>

</div>


<div class="container mt-5 mb-5">
    
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="card card-block">
       
      <img src="../../assets/images/img1.jpg" alt="diamond">
          <h5 class="card-title mt-3 mb-3"style="font-size: 1.2rem;">Valuable Internship Opportunities</h5>
          <p class="card-text">Our internships offer students practical experience, providing valuable opportunities to gain hands-on knowledge and develop essential skills.</p> 
    </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="card card-block">
       
      <img src="../../assets/images/img2.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3"style="font-size: 1.2rem;">Guided Mentorship Program</h5>
          <p class="card-text">We provide complete guidance and mentorship throughout our internship program, ensuring interns receive support and learn from experienced professionals.</p> 
    </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="card card-block">
       
      <img src="../../assets/images/img3.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3"style="font-size: 1.2rem;">Innovative Solutions for Societal Challenges</h5>
          <p class="card-text">Interns are involved in developing innovative solutions to address societal challenges, fostering creativity and making a positive impact.</p> 
    </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="card card-block">
       
      <img src="../../assets/images/img4.jpg" alt="Photo of sunset">
          <h5 class="card-title  mt-3 mb-3"style="font-size: 1.2rem;">Real-World Experience for Customer Understanding</h5>
          <p class="card-text">Interns engage in customer-client projects, gaining hands-on experience and developing an understanding of the importance of customer satisfaction and meeting their needs.</p> 
    </div>
      </div>    
    </div>
    
  </div>