<div class="container " style="text-align: center;margin-top: 40px;">
    <h1 class="sub-text"></h1>
      
        <div class="py-3">
         
            <div class="row">
              <!-- DEMO 2 Item-->
              <div class="blog-slider">
                <div class="blog-slider__wrp">
                  <div class="blog-slider__item">
                    <div class="blog-slider__img">
                      <img src="../../assets/images/card5ser.jpg" alt="">
                    
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code"> Software Development</span>
                      <div class="blog-slider__title">Harness the power of software development to stay ahead in the digital age.</div>
                      <div class="blog-slider__text">In today's rapidly evolving business landscape, software development plays a pivotal role in driving innovation and success. Our software development services offer customized solutions to meet the unique needs of our clients. We specialize in developing custom software applications, providing comprehensive maintenance and support, conducting rigorous testing, delivering thorough training, and offering expert consulting services. By harnessing the power of cutting-edge technologies and industry best practices, we empower businesses to streamline their operations, enhance productivity, improve efficiency, and accelerate growth. Our team of experienced developers ensures that our software solutions align with our clients' business objectives, providing them with a competitive edge in the market. Embrace the transformative potential of software development and experience the benefits it brings to your business.</div>
              
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
              </div>
              
              
      
    </div>
    </div>
    <br><br>
    <div class="arrow bounce">

    </div>
  
    <!-- card -->
    <div class="ag-format-container">
      <div class="ag-courses_box">
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Custom software development tailored to your specific business needs
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Comprehensive software maintenance and support to ensure smooth operations
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Rigorous software testing to guarantee quality and reliability
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Thorough software training to empower your team with the necessary skills
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Expert software consulting to guide strategic decision-making
            </div>
    
            
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Focus on UI/UX design to deliver intuitive and visually appealing apps
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg">
              </div>
              <div class="ag-courses-item_title">
                Streamlined operations, enhanced productivity, and improved efficiency
              </div>
            </a>
          </div>
    
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg">
              </div>
              <div class="ag-courses-item_title">
                Accelerated growth and a competitive edge in the market
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg">
              </div>
              <div class="ag-courses-item_title">
                Customized solutions that align with your business objectives.
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg">
              </div>
              <div class="ag-courses-item_title">
                Embracing the transformative potential of software development
              </div>
            </a>
          </div>
    
    
    
   
    
    <!-- card end -->
