<div class="container " style="text-align: center;margin-top: 40px;">
    <h1 class="sub-text"></h1>
      
        <div class="py-3">
         
            <div class="row">
              <!-- DEMO 2 Item-->
              <div class="blog-slider">
                <div class="blog-slider__wrp">
                  <div class="blog-slider__item">
                    <div class="blog-slider__img">
                      <img src="../../assets/images/card2ser.jpg" alt="">
                    
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code"> App Development</span>
                      <div class="blog-slider__title">Personalized app. Supercharge business. Competitive edge.</div>
                      <div class="blog-slider__text">Our App Development Services are designed to elevate your business to new heights in the mobile world. With custom app development, we create tailored solutions that perfectly align with your unique needs and goals. Our expertise also extends to app porting, allowing you to seamlessly transition your app to different platforms. We provide comprehensive app maintenance and support, ensuring your app runs smoothly and stays up-to-date. Our app marketing and promotion strategies drive visibility and user engagement, maximizing your app's potential. With our focus on UI/UX design, we deliver intuitive and visually appealing apps that provide exceptional user experiences. Trust our efficient app development services to unlock new business opportunities and connect with your audience on the go.</div>
              
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
              </div>
              
              
      
    </div>
    </div>
    <br><br>
    <div class="arrow bounce">

    </div>
  
    <!-- card -->
    <div class="ag-format-container">
      <div class="ag-courses_box">
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Extending PC lifespan beyond brand warranty
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Custom app development tailored to your unique needs and goals
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Seamless app porting for cross-platform compatibility
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Comprehensive app maintenance and support to ensure smooth operation
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Effective app marketing and promotion strategies for increased visibility and engagement
            </div>
    
            
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
                Focus on UI/UX design to deliver intuitive and visually appealing apps
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg">
            </div>
            <div class="ag-courses-item_title">
                Unlock new business opportunities and connect with your audience on the go
            </div>
          </a>
        </div>
    
    
      </div>
    </div>
    <!-- card end -->
  </div>