
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators main-flex temp" style="justify-content: flex-start;">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" value="Goals" class="active" aria-current="true" aria-label="Slide 1" class="cbtn"style="width:100px"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class="cbtn"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3" class="cbtn"></button>
  </div>
  <div class="carousel-indicators main-flex temp" style="justify-content: flex-start;">
        <p class="flex-items p1">    Goals</p>
        <p class="flex-items p2">Personalized</p>
        <p class="flex-items p3"style="color: white;">Opportunity</p>
  </div>

<div class="carousel-inner">
<div data-ride="carousel" class="carousel slide" data-interval="5000" id="carouselExample">
    <div class="carousel-inner">
      <!-- <div class="d-flex main-flex">
        <p class="flex-items text-decoration-underline">Goals</p>
        <p class="flex-items">Personalized</p>
        <p class="flex-items">Opportunity</p>
      </div> -->
      <div class="carousel-item active">
        <img src="../../assets/images/01.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content">
            <h1 class="heading-text">"Powering your Inovation"</h1>
            <h3 class="sub-heading">Set your futurestic business development with your fully <br>optimised ora</h3>
            <button class="my-3 btn-learn" (click)="btn1click()">Learn more</button>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/03.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content">
            <h1 class="heading-text">"Personalizing your experience"</h1>
            <h3 class="sub-heading">Unlock the power of personalization and embark on <br> a journey tailored just for you</h3>
            <button class="my-3 btn-learn" (click)="btn2click()" >Learn more</button>
            <div class="d-flex main-flex">
                <!-- <p class="flex-items ">Goals</p>
                <p class="flex-items text-decoration-underline">Personalized</p>
                <p class="flex-items">Opportunity</p> -->
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/02.jpg" class="d-block w-100" alt="...">
        <div class="carousel-content">
            <h1 class="heading-text">"Boosting your career"</h1>
            <h3 class="sub-heading">Embrace the boundless horizon of learning, where every <br> opportunity is a stepping stone to growth</h3>
            <button class="my-3 btn-learn" (click)="btn3click()" >Learn more</button>
            <div class="d-flex main-flex">
                <!-- <p class="flex-items ">Goals</p>
                <p class="flex-items">Personalized</p>
                <p class="flex-items text-decoration-underline">Opportunity</p> -->
            </div>
          </div>
      </div>
    </div>
    </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <app-home-services></app-home-services>
  <app-home-why-us></app-home-why-us>
  <app-about-us></app-about-us>

 