<div class="container " style="text-align: center;margin-top: 40px;">
    <h1 class="sub-text"></h1>
      
        <div class="py-3">
         
            <div class="row">
              <!-- DEMO 2 Item-->
              <div class="blog-slider">
                <div class="blog-slider__wrp">
                  <div class="blog-slider__item">
                    <div class="blog-slider__img">
                      <img src="../../assets/images/card1Ser.jpg" alt="">
                    
                    </div>
                    <div class="blog-slider__content">
                      <span class="blog-slider__code">Web Development sector</span>
                      <div class="blog-slider__title">Elevate your business with a website that leaves a lasting impression</div>
                      <div class="blog-slider__text">Our Web Development Services offer a comprehensive range of solutions to elevate your online presence and drive business growth. Our expert team excels in web design, creating visually stunning and user-friendly websites that captivate your audience. With seamless web development, we bring your vision to life, ensuring a smooth and engaging user experience. Our reliable web hosting services guarantee optimal website performance and security. With ongoing web maintenance, we keep your website updated and running smoothly. Enhance your online visibility with our web marketing strategies, driving targeted traffic to your site. Trust us to deliver efficient and effective web development solutions that empower your business's success.</div>
              
                    </div>
                  </div>
                </div>
                <div class="blog-slider__pagination"></div>
              </div>
              
              
      
    </div>
    </div>
    <br><br>
    <div class="arrow bounce">

    </div>
  
    <!-- card -->
    <div class="ag-format-container">
      <div class="ag-courses_box">
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Professional web design for visually stunning and user-friendly websites
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Ongoing web maintenance to keep your website updated and running smoothly
              
            </div>
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Reliable web hosting services for optimal performance and security
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Expert web development to bring your vision to life
            </div>
    
           
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Effective web marketing strategies to enhance online visibility and drive targeted traffic
            </div>
    
            
          </a>
        </div>
    
        <div class="ag-courses_item">
          <a href="#" class="ag-courses-item_link">
            <div class="ag-courses-item_bg"></div>
    
            <div class="ag-courses-item_title">
              Tailored solutions to empower your business's success
            </div>
          </a>
        </div>
    
        
    
      </div>
    </div>
    <!-- card end -->
  </div>